<link rel="stylesheet" href="/assets/css/projects.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<div class="MainContainer" style="width: 100%; height:1200px; background-color:#212121; margin-top: -16px;">

    <div class="container-projects">
        <div class="bar-projects">
            <div class="newProjectButton addProject" style="display: flex; margin-left: 1%; cursor:pointer;">
                <i class="fa-solid fa-plus" style="color: rgba(245, 245, 245, 0.5);" id="iconplus"></i>
                <p style="color: rgba(245, 245, 245, 0.5);" id="textplus">New</p>
            </div>

            <div class="group-bar">
                <svg viewBox="0 0 24 24" aria-hidden="true" class="icon4">
                    <g>
                        <path
                            d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z">
                        </path>
                    </g>
                </svg>
                <input class="input-bar" type="text" placeholder="Find..." />
            </div>
            <p style="color: rgba(245, 245, 245, 0.5); margin-left: 64%;" id="texttime">Time created</p>
            <i class="fa-solid fa-chevron-down" style="color: rgba(245, 245, 245, 0.5);" id="icontime"></i>
            <i class="fa-solid fa-bars" style="color: rgba(245, 245, 245, 0.5);"></i>

        </div>
        <div class="cards" style="margin-top: 10px;" id="cardsContainer">
            {{#if projects}}
            {{#each projects}}
            <div class="card" onclick="redirectProject('{{projectName}}','{{userId}}',)">
                <div class="card-image">
                    <img src="{{#if projectImage}}{{projectImage}}{{else}}https://i.pinimg.com/564x/47/5b/72/475b72acb3f65dd57e938e4eab8ac895.jpg{{/if}}"
                        alt="">
                </div>
                <div class="card-description">
                    <p class="text-title">{{projectName}}</p>
                    <p class="text-body">By {{userId}}
                    </p>
                </div>
            </div>
            {{/each}}
            {{else}}
            <div class="noProjects">
                <iframe src="https://lottie.host/embed/fa42beed-f3fa-4aa9-bd43-a40c2a860ced/47Drnp1yll.json"
                    style="border: 0px; margin-top: -5%; margin-left: -1%;"></iframe>
                <p class="cookieHeading">Get Started with Your Projects!.</p>
                <p class="cookieDescription">No projects yet? Let's create something amazing together! Start now and
                    share your creativity with the world.</p>

                <div class="buttonContainer">
                    <button class="acceptButton addProject">Create Project</button>
                </div>


            </div>
            {{/if}}

        </div>

    </div>

    <script>const userIdFront = "{{ userId }}"; const tokenFront = "{{token}}"</script>
    <div class="modalBackground" id="modalNewProject"
        style="width: 100%; height:100%; background-color:rgba(0, 0, 0, 0.542); z-index:50; position: fixed; top:0; left:0; display:none">
        <div class="modalContent">
            <form id="projectForm" method="post" enctype="multipart/form-data">
                <div class="modalNewProject">
                    <input type="text" id="inputNewProject" name="projectName" placeholder="Project Name..."
                        style="border: none;">
                    <button type="submit" id="createPButton"
                        style="display: flex; cursor: pointer; width: 100%; align-items: center; justify-content: center; background-color:#fef27a; border: none; border-radius: 5px; color: black;">
                        <i class="fa-solid fa-plus" style="margin-right: 5px;"></i>
                        Create Project...
                    </button>
                </div>
            </form>
        </div>

    </div>



    <script src="/assets/js/projects-section.js"></script>

</div>