<link rel="stylesheet" href="/assets/css/singleProject.css">
<div class="MainContainer" style="width: 100%; height:1200px; background-color:#212121; margin-top: -30px;">
    <div class="bar-projects" style="padding-top: 20px;">
        <i class="fa-solid fa-arrow-left" style="color: rgba(245, 245, 245, 0.5); margin-left: 1%;"></i>
        <i class="fa-regular fa-eye" style="color: rgba(245, 245, 245, 0.5); margin-left:90%"></i>
        <i class="fa-solid fa-gear" style="color: rgba(245, 245, 245, 0.5); margin-left: 1%"></i>
    </div>
    <div class="dataContainer" style="display:flex;">
        <div class="imgContainer">
            <img src="https://m.media-amazon.com/images/I/61hw9WloObL._UF1000,1000_QL80_.jpg" alt="">
        </div>
        <div class="infoDataContainer">
            <h1>{{projectName}}</h1>
            <div class="buttonsAlbum" style="display: flex;">
                <button type="button" class="btn-t">
                    <img class="profile"
                        src="https://i.pinimg.com/originals/ce/7c/b2/ce7cb27b41f91c5d4b061c07d39936de.jpg"
                        alt="Profile Picture">
                </button>
                <p style="margin-right: 2%;">{{userId}}</p>
                <i class="fa-solid fa-circle"
                    style="color: white; margin-left: 1%; margin-right:1%; font-size: 8px; margin-top: 2%;"></i>
                <p>10 tracks 46mins</p>
            </div>
            <div class="buttonsAlbumConfig" style="display: flex;">
                <div class="buttonPlayTrack">
                    <i class="fa-solid fa-play" style="font-size: 20px; margin-left: 23%; margin-top:12%;"></i>
                </div>
                <svg width="15" height="15" viewBox="0 0 15 15" fill="none" xmlns="http://www.w3.org/2000/svg"
                    style="height:35px; width:35px; color: rgba(245, 245, 245, 0.5); margin-top: 31px; margin-left:3%;">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M12.3536 1.14645C12.1583 0.951184 11.8417 0.951184 11.6464 1.14645C11.4512 1.34171 11.4512 1.65829 11.6464 1.85355L12.7929 3H12C10.7037 3 9.71111 3.58423 8.87248 4.38931C8.20065 5.03427 7.59349 5.85684 6.99461 6.6682C6.86287 6.84668 6.73154 7.02462 6.6 7.2C5.10874 9.18835 3.49037 11 0.5 11C0.223858 11 0 11.2239 0 11.5C0 11.7761 0.223858 12 0.5 12C4.00963 12 5.89126 9.81165 7.4 7.8C7.54367 7.60845 7.6832 7.41962 7.81996 7.23454L7.82005 7.23443L7.82006 7.23441C8.41674 6.42695 8.96069 5.69085 9.56502 5.11069C10.2889 4.41577 11.0463 4 12 4H12.7929L11.6464 5.14645C11.4512 5.34171 11.4512 5.65829 11.6464 5.85355C11.8417 6.04882 12.1583 6.04882 12.3536 5.85355L14.3536 3.85355C14.5488 3.65829 14.5488 3.34171 14.3536 3.14645L12.3536 1.14645ZM0.5 3C3.35278 3 5.12992 4.44588 6.50548 6.06746L6.3762 6.24266C6.2483 6.4161 6.12293 6.58609 6 6.75C5.96397 6.79804 5.92798 6.84581 5.892 6.89331C4.57348 5.29306 3.02637 4 0.5 4C0.223858 4 0 3.77614 0 3.5C0 3.22386 0.223858 3 0.5 3ZM8.87248 10.6107C8.37284 10.131 7.90897 9.55314 7.45767 8.95468C7.64688 8.71693 7.82704 8.48061 8 8.25L8.08987 8.12987C8.58412 8.79402 9.05288 9.39766 9.56502 9.88931C10.2889 10.5842 11.0463 11 12 11H12.7929L11.6464 9.85355C11.4512 9.65829 11.4512 9.34171 11.6464 9.14645C11.8417 8.95118 12.1583 8.95118 12.3536 9.14645L14.3536 11.1464C14.5488 11.3417 14.5488 11.6583 14.3536 11.8536L12.3536 13.8536C12.1583 14.0488 11.8417 14.0488 11.6464 13.8536C11.4512 13.6583 11.4512 13.3417 11.6464 13.1464L12.7929 12H12C10.7037 12 9.71111 11.4158 8.87248 10.6107Z"
                        fill="currentColor" />
                </svg>
                <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                    id="newTrack"
                    style="height:35px; width:35px; color: rgba(245, 245, 245, 0.5); margin-top: 31px; margin-left:3%;"
                    width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M12 7.757v8.486M7.757 12h8.486M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>

                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14 17.5" fill="none" x="0px" y="0px"
                    style="height:43px; width:34px; color: rgba(245, 245, 245, 0.5); margin-top: 31px; margin-left:2%;">
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7 12C9.76142 12 12 9.76143 12 7.00001C12 4.23858 9.76142 2.00001 7 2.00001C4.23858 2.00001 2 4.23858 2 7.00001C2 9.76143 4.23858 12 7 12ZM7 13C10.3137 13 13 10.3137 13 7.00001C13 3.6863 10.3137 1.00001 7 1.00001C3.68629 1.00001 1 3.6863 1 7.00001C1 10.3137 3.68629 13 7 13Z"
                        fill="rgba(245, 245, 245, 0.5)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M6.99998 9.43657C6.72384 9.43657 6.49999 9.21271 6.49999 8.93657L6.49999 4.68017C6.49999 4.40403 6.72385 4.18017 6.99999 4.18017C7.27614 4.18018 7.49999 4.40403 7.49999 4.68018L7.49999 8.93657C7.49999 9.21271 7.27613 9.43657 6.99998 9.43657Z"
                        fill="rgba(245, 245, 245, 0.5)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M7.46227 9.56694C7.19443 9.81046 6.78511 9.80961 6.5183 9.56497L4.47794 7.69417C4.2744 7.50755 4.26069 7.19126 4.44731 6.98773C4.63393 6.78419 4.95022 6.77048 5.15375 6.9571L6.99222 8.64278L8.84778 6.95568C9.0521 6.76992 9.36832 6.78496 9.55409 6.98927C9.73985 7.19359 9.72482 7.50981 9.5205 7.69558L7.46227 9.56694Z"
                        fill="rgba(245, 245, 245, 0.5)" />
                </svg>

            </div>


        </div>
    </div>

    <div class="audio-player">
        <div class="imgPlayer">
            <img src="https://m.media-amazon.com/images/I/61hw9WloObL._UF1000,1000_QL80_.jpg" alt="">
        </div>
        <div class="nameAlbumTrackPlayer">
            <p id="nameAlbumTrackPlayerName">Cancion 1</p>
            <p id="nameAlbumTrackPlayerAlbum">The Helves Project</p>
        </div>
        <div class="midButtons">
            <div class="buttonsPlayer">
                <i class="fa-solid fa-backward"></i>
                <i class="fa-solid fa-pause"></i>
                <i class="fa-solid fa-forward"></i>
            </div>
            <div class="downButtonsPlayer">
                <p id="trackStart">00:00</p>
                <div class="progress-loader">
                    <div class="progress"></div>
                </div>
                <p id="trackEnd">12:05</p>
            </div>
            <label class="slider">
                <input type="range" class="level">
                <svg class="volume" xmlns="http://www.w3.org/2000/svg" version="1.1"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="512" height="512" x="0" y="0" viewBox="0 0 24 24"
                    style="enable-background:new 0 0 512 512" xml:space="preserve">
                    <g>
                        <path
                            d="M18.36 19.36a1 1 0 0 1-.705-1.71C19.167 16.148 20 14.142 20 12s-.833-4.148-2.345-5.65a1 1 0 1 1 1.41-1.419C20.958 6.812 22 9.322 22 12s-1.042 5.188-2.935 7.069a.997.997 0 0 1-.705.291z"
                            fill="currentColor" data-original="#000000"></path>
                        <path
                            d="M15.53 16.53a.999.999 0 0 1-.703-1.711C15.572 14.082 16 13.054 16 12s-.428-2.082-1.173-2.819a1 1 0 1 1 1.406-1.422A6 6 0 0 1 18 12a6 6 0 0 1-1.767 4.241.996.996 0 0 1-.703.289zM12 22a1 1 0 0 1-.707-.293L6.586 17H4c-1.103 0-2-.897-2-2V9c0-1.103.897-2 2-2h2.586l4.707-4.707A.998.998 0 0 1 13 3v18a1 1 0 0 1-1 1z"
                            fill="currentColor" data-original="#000000"></path>
                    </g>
                </svg>
            </label>
        </div>
    </div>
<div class="tracksDaD">
    <div class="tracks" style="margin-top: 2%;">
        {{#each songs}}
        <div class="track" onclick="changeBackground(this)">
            <div class="trackInfo" style="display: flex;">
                <p id="numberTrack">{{ @index}}</p>
                <p>Cancion {{@index}}</p>
                <i class="fa-solid fa-ellipsis-vertical" id="moreInfoTrack"></i>
            </div>
            <p>URL {{@index}}</p>
            <audio class="audioPlayer" src="{{@index}}"></audio>
        </div>
        {{/each}}
    </div>
</div>

</div>

<div id="overlay"></div>
<form class="dropzone-box" style="display: none; transition: opacity 0.3s ease;" action="/project/uploadSong"
    method="POST" enctype="multipart/form-data">
    <h2>Upload and attach files</h2>
    <h4>Track name</h4>
    <input type="text" name="name" id="name">
    <p>
        Attach files to this project
    </p>
    <div class="dropzone-area">
        <div class="file-upload-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                <path d="M14 3v4a1 1 0 0 0 1 1h4" />
                <path d="M17 21h-10a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h7l5 5v11a2 2 0 0 1 -2 2z" />
            </svg>
        </div>
        <p>Click to upload or drag and drop</p>
        <input type="file" required id="Song" name="Song" accept="audio/mp3">
        <p class="message">No Files Selected</p>
    </div>
    <div class="dropzone-actions">
        <button type="reset">
            Cancel
        </button>
        <button id="submit-button" type="submit">
            Save
        </button>
    </div>
</form>

</div>


<script src="/assets/js/singleProject.js"></script>